.conatainer--service--details{
    padding-left: 25px;
    padding-right: 25px;
}

.super--container{
    display: flex; 
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    
    
}

.container--welcome--service{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80%;
    

}

.background-image-1{
    width: 100%;
    position:absolute;
    z-index: -1;
    filter: brightness(30%);
}

.upper--text--service{
    color:#fff;
    font-family:'';
    font-size:24px;
    font-style:italic;
    font-weight:400;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}

.underline--service{
    background-color:rgb(255,0,0);
    width:100%;
    height:5px;
    margin-top :20px;
    margin-bottom :20px;
    border-radius:2px
}

.lower--text--service{
    color:#fff;
    font-family:'';
    font-size:60px;
    font-style:'';
    font-weight:600;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.more--details--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-top: 30px;
}

.image--para{
    width: 100%;
    aspect-ratio: 1.5;
    position:'';
    z-index: -1;
    filter: brightness(100%);
}
.head{
    font-size: 40px;
    color: #444;
    font-weight: 600;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.upper--para{
    text-align: center;
    color: #444;
}
.lower--para{
    text-align: center;
    margin: 20px;
    width: 60%;
    color: #444;

}

.message--container{
    animation :slider 5s infinite;
      
}

@keyframes slider {
    from{
        transform:translateX(200px)
    }
    to{
        transform:translateX(0px)
    }
}