*{
    margin:0
}

.expertise--container{
    margin-top:10px;
    position:'';
    background-color:#ddd;
    width:100%;
    height: auto;
    z-index:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-left:0px;
    padding-right:0px;
    color: #fff;
    opacity: 0.9;
    padding-top: 100px;
}



.peace{
    color:#000;
    font-style:italic;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
    }
    
.expert{
        color:#000;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 10px;
    }





