*{
    margin:0
}

.receipt--container{
    margin-top: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:95%;
    height:auto;
    animation: receipt 3s ;
    padding: 4px;
    height: '';
}
@keyframes receipt{
   0%{ 
    height: 0;
    transform: translateY(-100px) rotate(0deg);
    opacity:0
    
   }
   100%{ 
    height: 0;
    transform: translateY(0px) rotateY(720deg);
    opacity:1
   }

}



.receipt{
    color: #fff;
    font-size:45px;
    font-weight:900;
}

.receipt--form{
  background-color: red;
  height: auto;
}

.data--details{
    font-size:17px;
    font-weight:bold;
}


.heading{
    display:flex;
    justify-content: center;
    align-items:center;
}

.line{
    height:10px;
    width:99%;
    background-color:yellow;
    margin:15px
}

.sender, .receiver {
    width:100%;
    height: auto;
    
}

.zipcode, .country{
    border:solid #555  3px;
    width:50%;
    padding:5px;
}
.authorization{
    width:100%;
    padding:0px;
    border-radius:5px
}
.signature{
    border:solid #555  3px;
    width:100%;
    padding:5px;
}
.shipment--details{
   
    font-style:italic;
    
}

.stamp{
    width: 250px;
    height: 160px;
    margin-top:2%;
    margin-left: 13%;
    opacity:1;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
   }
   
 .authorization{
       position:absolute;
       background-color: #fff;
       opacity: 1;
       font-weight: 900;
       height: 8%;
       z-index: 0;
       width: 88%;
       height: 25%;
   }

   .paid{
    background-color: #fff;
    font-weight: 900;
    color:blue ;
    font-size:45px ;
    width:20% ;
    height: 10%;
    margin: 2px;
    border:solid 9px blue ;
    transform: rotate(-10deg) translate(0px,-3px);
    position:absolute;
    text-align: center;
    z-index: 0;
    margin-left: 40%;
    opacity: 0.5;
   }
   

.shipment--status{
    margin:20px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.status--message--container{
    width: auto;
    height:50px;
    background-color:#aaa;
    border :inset 2px solid ;
    border-radius: 4px;
    box-shadow: 2px 2px 2px green;
    text-align: center;
    padding-top: 5px;
    padding-bottom: '';
    font-size:30px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   overflow: '';
   animation: slide 20s infinite linear ;
}

@keyframes slide{
    0%{
        
          transform: translateX(100vw);
    }
    
    
    100%{
          transform: translateX(-25vw);
           
     }
}


.status--message--container--alt{
    color: #f00;
    width: auto;
    height:50px;
    background-color:#aaa;
    border :inset 2px solid ;
    border-radius: 4px;
    box-shadow: 2px 2px 2px green;
    text-align: center;
    padding-top: 5px;
    padding-bottom: '';
    font-size:35px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   overflow: '';
   animation: expand 0.5s infinite  ;
}

@keyframes expand{
    0%{
        
          transform: scale(0.7);
          background-color: #aaa;
    }
    
    
    100%{
          transform: scale(1);
           background-color: aqua;
     }
}

.super--message{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #F66;
  height: 100px;
  width: 100%;
  overflow:hidden;
}

 