

#box{
    border:solid black ;
    font-size: 30px;
    background-color: rgb(221, 221, 170);
    
}

.ani--strength--info{
 
 animation:slid 0.5s forwards;
 
}


@keyframes slid {
    0% {
        transform:translateX(-100px) rotate(0deg) scale(0.2);
        opacity:0;
        
    }

    100% {
        transform:translateX(0px) rotate(360deg) scale(1);
        opacity:1;
        
    }

}