*{
    margin:0
}
.super--footer--container{
    background-color:rgb(4, 30, 100);
}
.footer--container{
    background-color:rgb(4, 30, 100);;
    margin-top:50px;
    position:'';
    filter: brightness(90%);
    width:100%;
    height: auto;
    z-index:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:15px;
    opacity: 1;
    color:'#fff'   
}
.footer--link:hover{
    background-color:yellowgreen;
    font-size:larger;
}